footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 30px;
    background-color: #131213;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 0.2px solid rgba(196, 190, 190, 0.224);
}

.foot_left{
    display: flex;
    gap: 20px;
}

aside li{
    list-style: none;
}
aside li a{
    text-decoration: none;
    color: rgb(184, 184, 184);
}
aside li a:hover{
    color: white;
    text-decoration: underline;
}
.foot_left aside, .foot_left aside ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
}

.foot_left aside{
    margin-right: 100px;
}

h2{
    font-size: 15px;
    font-weight: bold;
}

.foot_right button{
    padding: 9px 11px;
    background-color: transparent;
    border-radius: 100%;
    border: none;
    margin: 0px 10px;
    color: white;
    background-color: #282829;
    font-size: 17px;
}

.kelage{
padding: 100px 30px;
background-color: #131213;
display: flex;
gap: 10px;
}

.kelage button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    padding: 0px 3px;
    border-radius: 50%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kelage p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.kelage button,.kelage p{
position: relative;
bottom: 60px;
}